.scheme {
  background-color: green;
  height: 300px;
}
.node {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  z-index: 9;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node .port {
    height: 100%;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;}
  .node .pin {
    height: 10px;
    width: 10px;
    cursor : pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 0.1rem;
    display: inline-block;}
  .node .reserved {
    background-color: #bbb;}
  .node .available {
    background-color: #28a745;}
  .node .connected {
    background-color: #20c997;}
  .node .disconnected {
    background-color: #0062cc;}
  .node .body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
  .hide {
    left: -400px!important;
}
