.scheme-frame {
  overflow: scroll;
  position: relative;
  background: #3d4046;
  width: 100%;
  height: calc(100% - 30px); }
  .scheme-frame::-webkit-scrollbar-track {
	  background-color: #363738; }
  .scheme-frame::-webkit-scrollbar {
	  width: 4px;
    height: 4px;
	  background-color: #363738; }
  .scheme-frame::-webkit-scrollbar-thumb {
	  background-color: #7a7b7d; }
.scheme {
  min-height: 3840px;
  min-width:  3900px;
}
/*----------------------------------------------------------------------------*/
.none {
  background-color: #d2d3d4;
  border: 2px solid #d2d3d4;
}
.none-text {
  color: #d2d3d4;
}
.bool {
  background-color: #33f233;
  border: 2px solid #33f233;
}
.bool-text {
  color: #33f233;
}
.byte {
  background-color: #f2333c;
  border: 2px solid #f2333c;
}
.byte-text {
  color: #f2333c;
}
.short {
  background-color: #33f2e9;
  border: 2px solid #33f2e9; }
  .short span {
    color: #363738;
  }
.short-text {
  color: #33f2e9;
}
.float {
  background-color: #b824bd;
  border: 2px solid #b824bd;
}
.float-text {
  color: #b824bd;
}
.number {
  background-color: #f2339b;
  border: 2px solid #f2339b;
}
.number-text {
  color: #f2339b;
}
.date {
  background-color: #f28a33;
  border: 2px solid #f28a33;
}
.date-text {
  color: #f28a33;
}
.string {
  background-color: #f2e933;
  border: 2px solid #f2e933;
}
.string-text {
  color: #f2e933;
}
.any {
  background-color: #339bf2;
  border: 2px solid #339bf2;
}
.any-text {
  color: #339bf2;
}
/*----------------------------------------------------------------------------*/
.node {
  position: absolute;
  z-index: 9;
  color: #d2d3d4;
  text-align: center;
  background-clip: border-box; }
  .node .port {
    position: relative;
    display: flex;
    height: 10px;
    width: 100%;
    text-align: left;
    z-index: 8; }
    .node .port.input {
      bottom: 8px;}
    .node .port.output {
      bottom: 19px;}
    .node .port .mount {
      height: 16px;
      width: 16px;
      border-radius: 16px;
      text-align: center;
      background-color: #2f3136;
      margin-left: 0px;
      margin-right: 0px; }
      .node .port .mount.from {
        box-shadow: 0 0 0 6px rgba( 78, 213, 237, 0.5 ); }
      .node .port .mount.available {
        box-shadow: 0 0 0 6px rgba(210, 211, 212, 0.5); }
      .node .port .mount .pin {
        height: 10px;
        width: 10px;
        bottom: 3px;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.5s ease;
        display: inline-block; }
        .node .port .pin.disconnected {
          background-color: transparent; }
  .node .body {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    cursor: move;
    border: 1px solid #7f8183;
    background-color: #2f3136;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .node .body:hover {
      border: 1px solid #bdbebf; }
    .node .body.focus {
      border: 1px solid rgb(78,213,237); }
      .node .body.focus:hover {
        border: 1px solid rgb(78,213,237)!important;
}
/*----------------------------------------------------------------------------*/
.link {
  z-index: 8;}
/*----------------------------------------------------------------------------*/
.node-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: auto;
  width: auto;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node-menu ul li {
    margin-right: 10px;
    text-align: left;}
  .node-menu .fas {
    font-size: 16px; }
  .node-menu ul li a span,
  .node-menu ul li a .fas {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block; }
  .node-menu ul li a span {
    margin-left: 1em; }
  .node-menu ul li a .fas svg {
    width: 1em;
    height: 1em; }
  .node-menu .item {
    cursor: default;
    min-width: 100px;
    color: #4d5055; }
    .node-menu .item:hover {
      transition: background-color 0.5s ease;
      background: #d2d3d4;
    }
