.scheme-frame {
  border: 1px solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: auto;
  color: #e9ecef;
  width: 100%;
  height: 600px; }
  .scheme-frame::-webkit-scrollbar-track {
	  //-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	  border-radius: 12px;
	  background-color: #e9ecef; }
  .scheme-frame::-webkit-scrollbar {
	  width: 12px;
    border-radius: 12px;
	  background-color: #e9ecef; }
  .scheme-frame::-webkit-scrollbar-thumb {
	  border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	  background-color: #f8b739; }
.scheme {
  min-height: 450px;
  min-width:  1000px;
}
#nodeLib {
  position: absolute;
  width: 200px;
  height: 400px;
  z-index: 10;
  overflow-y: scroll;
  color: #4d5055;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); }
  #sidebar svg {
    width: 1em;
    height: 1em;}
  #nodeLib .list {
    min-height: 450px; }
  #nodeLib ul li {
    border-bottom: 1px solid #dbdcdd;}
  #nodeLib ul li a {
    height: 40px;
    color: #4d5055;
    display: block;}
    #nodeLib ul li a span {
      display: inline-block;
      padding-top: 8px;
    }
  #nodeLib .item {
    display: block;
    cursor: default;
    color: #4d5055; }
    #nodeLib .item:hover {
      transition: background-color 0.5s ease;
      background: #d2d3d4;
    }
.node {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;
  color: #4d5055;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node:hover {
    transition: background-color 0.5s ease;
    border: 1px solid #f8b739;}
  .node.focus {
    transition: background-color 0.5s ease;
    border: 1px solid #f8b739;
    -webkit-box-shadow: 0 4px 8px 0 #f8b739;
    box-shadow: 0 4px 8px 0 #f8b739;
  }
  .node .port {
    height: 100%;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;}
    .node .port .pin {
      height: 10px;
      width: 10px;
      cursor : pointer;
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: 0.1rem;
      display: inline-block;}
      .node .port .pin.hide {
        position: absolute;
        opacity: 0}
      .node .port .pin.reserved {
        background-color: #bbb;}
      .node .port .pin.available {
        background-color: #28a745;}
      .node .port .pin.connected {
        background-color: #20c997;}
      .node .port .pin.disconnected {
        background-color: #0062cc;}
  .node .body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
  .node.hide {
    left: -400px!important;
}
.node-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: auto;
  width: auto;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node-menu ul li {
    text-align: left;}
  .node-menu .fas {
    font-size: 16px; }
  .node-menu ul li a span,
  .node-menu ul li a .fas {
    vertical-align: middle;
    display: inline-block; }
  .node-menu ul li a span {
    margin-left: 1em; }
  .node-menu ul li a .fas svg {
    width: 1em;
    height: 1em; }
  .node-menu .item {
    cursor: default;
    min-width: 100px;
    color: #4d5055; }
    .node-menu .item:hover {
      transition: background-color 0.5s ease;
      background: #d2d3d4;
    }
