.scheme {
  border: 1px solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #e9ecef;
  width: 100%;
  height: 300px;
}
.node {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;
  color: #4d5055;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node:hover {
    transition: background-color 0.5s ease;
    border: 1px solid #f8b739;}
  .node.focus {
    transition: background-color 0.5s ease;
    border: 1px solid #f8b739;
    -webkit-box-shadow: 0 4px 8px 0 #f8b739;
    box-shadow: 0 4px 8px 0 #f8b739;
  }
  .node .port {
    height: 100%;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;}
  .node .pin {
    height: 10px;
    width: 10px;
    cursor : pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 0.1rem;
    display: inline-block;}
  .node .reserved {
    background-color: #bbb;}
  .node .available {
    background-color: #28a745;}
  .node .connected {
    background-color: #20c997;}
  .node .disconnected {
    background-color: #0062cc;}
  .node .body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
  .hide {
    left: -400px!important;
}
.node-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: auto;
  width: auto;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .node-menu ul li {
    text-align: left;}
  .node-menu .fas {
    font-size: 16px; }
  .node-menu ul li a span,
  .node-menu ul li a .fas {
    vertical-align: middle;
    display: inline-block; }
  .node-menu ul li a span {
    margin-left: 1em; }
  .node-menu ul li a .fas svg {
    width: 1em;
    height: 1em; }
  .node-menu .item {
    cursor: default;
    min-width: 100px;
    color: #4d5055; }
    .node-menu .item:hover {
      transition: background-color 0.5s ease;
      background: #d2d3d4;
    }
